{% extends 'main/layout.html' %}

{% block title  %}Frab: Механіка{% endblock %}

{% block content  %}
<div class="features">
    <h1>Механіка</h1>

    {% for data in mechanics %}

        {% if data.id == 3 %}
            <div class="block">
                <li>Для гри необхідні:</li>
                <p>
                    Майстер Гри (МГ) ― ключова фігура, яка, наче автор роману, готує сюжет пригоди, виставляє декорації і керує всіма лиходіями і неігровими персонажами (НІП)
                </p><p>
                    Персонажі Гравці (ПГ), якими керують інші люди, найкраще друзі, адже гра вимагає багато обговорень і співпраці. Про героїв і як їх створювати можна більше дізнатися <i><a href="{% url 'character' %}">тут</a></i>.
                </p><p>
                    Кубики ― результат більшості ключових рішень персонажів, як і Гравців, так і НІПів, визначається за допомогою кидка кубика і удачі. Всього в грі використовуються 6 видів кубиків:
                </p><p>
                    20-гранний куб ― його доведеться використовувати найчастіше. Якщо персонажу треба зробити якусь дію, МГ визначає її складність, а Гравець кидає кубик і сподівається, що результат буде вищим за задане число складності. До результату також додається модифікатор характеристик персонажів (<i><a href="{% url 'characters' %}">див Персонажі Гравці</a></i>) і ворогів. 1 на кубику називається “критичний провал” і означає найгірший можливий результат дій, а “чиста 20” ― найкращим. В деяких випадках персонаж може отримати перевагу або перешкоду на кидок і тоді він кидає кубик двічі. При перевазі береться вище з двох чисел, при провалі ― нижче
                </p><p>
                    12-, 10-, 8-, 6- і 4-гранні кубики зазвичай кидаються тоді, коли потрібно дізнатися шкоду від певного типу зброї (<i><a href="{% url 'inventory' %}">див Інвентар</a></i>), наскільки вдалим було лікування і інших подібних випадках, коли біля якогось предмету чи дії конкретно вказане використання саме цього кубу
                </p><p>
                    Папір або інший засіб для записів ― зазвичай гра йде досить довго і насичено, тому досить корисно робити робити нотатки, що стосуються НІПів, локацій, зачіпок і важливих подій
                </p><p>
                    Уява ― це найважливіший елемент, адже без нього не вийде гри
                </p>
            </div>
        {% else %}
        <div class="block">
            <li>{{ data.name }}</li>
            <p>{{ data.info }}</p>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}