{% extends 'main/layout.html' %}

{% block title  %}Персонажі{% endblock %}

{% block content  %}
<div class="features">
    <h1>Персонажі</h1>
    <ul>
<!--        <a href="{% url 'character' %}"><li>[персонаж конкретний]</li></a>-->
        <div class="block">
            <p>Для того, щоб мати змогу брати участь у грі, гравцям треба створити своїх персонажів (ПГ).
                Для цього потрібно трошки статистичних даних,
                прив’язки до всесвіту гри і уяви творця.
                Вибирається клас персонажа, визначається його передісторія, зовнішність і риси характеру Створений персонаж слугує репрезентацією гравця, його аватаром.
Але перш ніж приступати до створення персонажа, варто поміркувати, яким персонажем вам буде комфортно грати, адже важливо, щоб він заохочував до гри, а не відбив бажання грати взагалі.
</p>
        </div>
        <div class="block">
            <li>Створення персонажа</li>
            <p>Першим етапом створення персонажа, є вибір його ролі. Від неї залежить механіка гри, навички, які доступні персонажу, його особливості і те, що він може принести для групи.</p>
            <p>Але роль персонажа тісно пов'язана з його характеристиками, тому варто спочатку сказати про них.</p>
        </div>
        <div class="block">
            <p><b>Характеристики</b> — це показник, від значення якого залежатиме, як добре ваш персонаж справляється з поставленим перед ним завданням. Майже все у грі залежить від характеристик. Всього у грі їх 5:</p>
            <p><b>логіка</b> — від неї залежать всі перевірки на інтелект персонажа, як добре він розуміє як щось працює і як добре вміє знаходити зв'язки і знаходити істину</p>
            <p><b>знання</b> — показує межу того, що персонаж дізнався за своє життя, як добре він орієнтується в сучасній картині світу і наскільки глибоко розбирається в певних питанням</p>
            <p>харизма — від неї залежить, наскільки легко персонажу знаходити спільну думку з іншими людьми, чи вміє він їх переконувати чи залякувати і наскільки успішно</p>
            <p>спритність — показує, наскільки атлетичним і гнучким є персонаж, чи може він непомітно прокрадатися і залишатися непомітним, коли йому це потрібно</p>
            <p>сила — вказує на фізичну силу вашого персонажа, наскільки він хороший в бою і скільки всього може підняти</p>
            <p>Кожна з характеристик має своє значення і модифікатор, який додається до значення 20-гранного кубика на перевірку, що залежить від цієї характеристики. Їхні значення 15, 14, 13, 11 і 9</p>
            <p>Гравець сам обирає, яке значення матиме кожна з його характеристик, окрім найвищої — вона залежить від ролі персонажа</p>
            <p>Значення характеристик можна підняти у процесі гри, якщо ваш персонаж обере над ними працювати.</p>
        </div>
        <div class="block">
            <li>Ролі</li>
            <p>Всього у грі є 10 ролей, по 2 на кожну з характеристик персонажа:</p>
        </div>
        {% for data in charactes %}
         <div class="blockP">
            <table>
                <tr>
                    <td>
                    <img src="{{ data.img.url }}" alt="{{ data.name }}"></td>
                    <td>
                        {% if data.name %}<li>{{ data.name }}</li>{% endif %}
                        {% if data.info %}<p>{{ data.info|safe }}</p>{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        </container >


        {% endfor %}
    </ul>
</div>
{% endblock %}