body {
    background: #5c2c2c;
}

aside {
    float: left;
    background: #203820;
    width: 15%;
    padding: 1.5%;
    height: 100vh;
    color: #dffff8;
    border-right: 5px solid #08200b;
}
aside img {
    width: 80px;
    float: left;
}
aside .logo {
    font-size: 60px;
    margin-left: 10px;
    font-weight: bold;
}
aside h3 {
    margin-top: 30px;
    font-size: 30px;
}
aside ul {
    list-style: none
}
aside ul li a {
    color: #dffff8;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover {
    color: #68f06b;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #dffff8;
    margin-top: 60px;
    text-align: center;
    width: 75%;
}
main .features h1 {
    front-size: 50px;
}
main .features p {
    max-width: 800px;
    margin: 20px auto;
}

