body {
    background: #ddd;
    padding: 0 15%;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.block {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 750px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px #aaa;
}

.block2 {
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 750px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px #aaa;
}

.blockP {
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 750px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px #aaa;
}


.block li, .blockP li {
    font-weight: bold;
    margin: 10px auto;
}

.block img, .blockP img {
    width: 200px;
    height: auto;
    display: block;
}

.block p li {
    font-weight: lighter;
}

.block p {
    margin-top: 10px;
}

@media (max-width: 800px) {
    .features {
        margin-top: 80px;
    }
    body, block2{
        padding: 0 0%;
    }
    .block, .block2 {
        width: 100%;
    }
}