body {
    background: #ddd;
    padding: 0 15%;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.block {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 750px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px #aaa;
}

.block li {
    font-weight: bold;
}

.block p {
    margin-top: 10px;
}

@media (max-width: 800px) {
    .features {
        margin-top: 80px;
    }
    body {
        padding: 0 0%;
    }
    .block {
        width: 100%;
    }
}